@import "styles/variables";

.item {
  height: 115px;
  background-color: $gray;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (min-width: 768px) {
    width: calc(33.33333% - 19px);
  }

  @media (min-width: 1312px) {
    width: calc(33.33333% - 27px);
    height: 140px;
  }

  .image {
    width: 192px;
  }
}
