@import "styles/variables";

.item {
  background-color: $gray;
  border-radius: 15px;
  margin-bottom: 20px;

  .title {
    font-weight: 700;
    font-family: var(--IBMPlexSans-font);
    text-align: left;
  }

  .icon {
    margin-left: 15px;

    @media (min-width: 1312px) {
      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}
