@import "styles/variables";

.item {
  background-color: $gray;
  border-radius: 15px;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  gap: 15px;

  @media (min-width: 1312px) {
    padding: 30px;
  }

  .icon {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-content: center;
    justify-content: center;

    @media (min-width: 1312px) {
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}

.button {
  padding-left: 44px;
  padding-right: 44px;
}
